body {
	margin: 0;
	padding: 0;
}

.front-page {
	background-image: url('./Photos/pink.svg');
	background-size: 33% auto;
	background-repeat: no-repeat;
	background-position-x: right;
	z-index: -999;
	position: relative;
}

.header {
	max-height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 23px 28px 0 80px;
}

.header .title {
	font-family: Nunito;
	font-size: 24px;
	font-weight: bold;
	line-height: 33px;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	display: flex;
}

.header .title::before {
	content: '';
	height: 30px;
	width: 30px;
	background-image: url('./Photos/logo.svg');
	display: block;
	margin-right: 8px;
}

.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

nav li {
	list-style: none;
	margin-left: 48px;
	font-family: Nunito;
	font-size: 16px;
	line-height: 22px;
}

nav li button {
	text-transform: uppercase;
	border-radius: 8px;
	height: 40px;
	width: 137px;
	background-color: transparent;
	border: 1px solid black;
}

.text {
	font-family: Nunito;
	font-size: 36px;
	line-height: 49px;
	max-width: 504px;
	height: 378px;
	display: flex;
	flex-direction: column;
}

.text button {
	background-color: #daa520;
	border-radius: 4px;
	width: 175px;
	height: 50px;
	border: none;

	font-family: Nunito;
	font-size: 16px;
	color: white;
}

.first-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	height: 90vh;
	margin: auto;
}

.right {
	position: relative;
}

.right::before {
	content: '';
	width: 382px;
	height: 382px;
	background-image: url('./Photos/graphic.svg');
	display: block;
	position: absolute;
	z-index: -1;
	top: 200px;
}

.first {
	height: 98px;
}

.second {
	font-size: 72px;
	font-weight: 700;
	line-height: 98px;
	height: 196px;
	display: flex;
	align-items: center;
}
