body {
	margin: 0;
	padding: 0;
	counter-reset: graphic-counter;
}

/* The Front Page */

/* FIKS DETTE */

.front-page {
	background-image: url('./Photos/pink.svg');
	background-size: 33% auto;
	background-repeat: no-repeat;
	background-position-x: right;
	z-index: -999;
	position: relative;
}

.front-page .header {
	max-height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 23px 28px 0 80px;
}

.front-page .header .title {
	font-family: Nunito;
	font-size: 24px;
	font-weight: 700;
	line-height: 33px;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	display: flex;
}

.front-page .header .title::before {
	content: '';
	height: 30px;
	width: 30px;
	background-image: url('./Photos/logo.svg');
	display: block;
	margin-right: 8px;
}

.front-page .header .menu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

nav li {
	list-style: none;
	margin-left: 48px;
	font-family: Nunito;
	font-size: 16px;
	line-height: 22px;
}

nav li button {
	text-transform: uppercase;
	border-radius: 8px;
	height: 40px;
	width: 137px;
	background-color: transparent;
	border: 1px solid black;
}

.text-section .text {
	font-family: Nunito;
	font-size: 36px;
	line-height: 49px;
	max-width: 504px;
	height: 378px;
	display: flex;
	flex-direction: column;
}

.text-section .text button {
	background-color: #daa520;
	border-radius: 4px;
	width: 175px;
	height: 50px;
	border: none;

	font-family: Nunito;
	font-size: 16px;
	color: white;
}

.text-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	height: 90vh;
	margin: auto;
}

.text-section .right {
	position: relative;
}

/* FIKS DETTE */

.text-section .right::before {
	content: '';
	width: 382px;
	height: 382px;
	background-image: url('./Photos/graphic.svg');
	display: block;
	position: absolute;
	z-index: -1;
	top: 200px;
}

.text-section .first {
	height: 98px;
}

.text-section .second {
	font-size: 72px;
	font-weight: 700;
	line-height: 98px;
	height: 196px;
	display: flex;
	align-items: center;
}

/* The About Page */

.about .top {
	width: 1200px;
	margin: auto;
	display: flex;
	margin-top: 120px;
	justify-content: space-between;
}

.about .title::before {
	content: '';
	width: 30px;
	height: 30px;
	background-image: url('./Photos/logo2.svg');
	display: block;
	margin-right: 8px;
}

.about .title::after {
	content: '';
	width: 564px;
	height: 1px;
	background-color: black;
	display: block;
	margin-left: 16px;
}

.about .title {
	font-family: Nunito;
	font-size: 36px;
	font-weight: 700;
	line-height: 49px;
	display: flex;
	align-items: center;
}

.about .about-us {
	font-family: Nunito;
	font-weight: 800;
	font-size: 72px;
	font-weight: 700;
	color: #e5e5e5;
	text-transform: uppercase;
}

.about .content {
	width: 1000px;
	margin: auto;
	margin-top: 48px;
}

.about .middle {
	font-family: Nunito;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.about .middle .first {
	font-weight: 600;
	font-size: 34px;
	margin-bottom: 16px;
	max-width: 448px;
}

.about .middle .second {
	font-size: 24px;
	display: block;
	max-width: 448px;
}

.about .bottom {
	font-family: Nunito;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 48px;
}

.about .bottom .first {
	font-weight: 600;
	font-size: 34px;
	margin-bottom: 16px;
}

.about .bottom .second {
	font-weight: 600;
	font-size: 24px;
}

.about .bold {
	font-weight: 700;
}

/* How it Works */

.third-page .top {
	width: 1200px;
	margin: auto;
	display: flex;
	margin-top: 120px;
	justify-content: space-between;
	margin-bottom: 64px;
}

.third-page .title::before {
	content: '';
	width: 30px;
	height: 30px;
	background-image: url('./Photos/logo2.svg');
	display: block;
	margin-right: 8px;
}

.third-page .title::after {
	content: '';
	width: 320px;
	height: 1px;
	background-color: black;
	display: block;
	margin-left: 16px;
}

.third-page .title {
	font-family: Nunito;
	font-size: 36px;
	font-weight: 700;
	line-height: 49px;
	display: flex;
	align-items: center;
}

.third-page .how-it-works {
	font-family: Nunito;
	font-weight: 800;
	font-size: 72px;
	font-weight: 700;
	color: #e5e5e5;
	text-transform: uppercase;
}

.third-page .content {
	width: 1000px;
	margin: auto;
	margin-top: 48px;
	display: flex;
	justify-content: space-between;
}

.third-page button {
	background: #daa520;
	border-radius: 4px;
	width: 212px;
	height: 50px;
	border: none;
	margin-top: 64px;
	font-family: Nunito;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	color: white;
	margin: 64px auto;
	display: block;
}

.third-page h3 {
	text-align: center;
	font-family: Nunito;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
}

/* Fourth page */

.fourth-page .top {
	width: 1200px;
	margin: auto;
	display: flex;
	margin-top: 120px;
	justify-content: space-between;
	margin-bottom: 64px;
}
.fourth-page .title::before {
	content: '';
	width: 30px;
	height: 30px;
	background-image: url('./Photos/logo2.svg');
	display: block;
	margin-right: 8px;
}

.fourth-page .title::after {
	content: '';
	width: 450px;
	height: 1px;
	background-color: black;
	display: block;
	margin-left: 16px;
}

.fourth-page .title {
	font-family: Nunito;
	font-size: 36px;
	font-weight: 700;
	line-height: 49px;
	display: flex;
	align-items: center;
}

.fourth-page .categories {
	font-family: Nunito;
	font-weight: 800;
	font-size: 72px;
	font-weight: 700;
	color: #e5e5e5;
	text-transform: uppercase;
}

.fourth-page .content {
	width: 1000px;
	margin: auto;
	margin-top: 16px;
	display: flex;
	justify-content: ;
	flex-wrap: wrap;
}

.fourth-page .content h3 {
	font-family: Nunito;
	font-size: 24px;
	font-weight: 800;
	align-self: flex-start;
	margin-left: 16px;

}

.fourth-page button {
	width: 123px;
	height: 40px;
	background-color: transparent;
	font-family: Nunito;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #3E3F43;
	align-self: flex-end;
	margin-right: 16px;
}

.fourth-page .content > div {
	display: flex;
	flex-direction: column;
	width: 280px;
	height: 400px;
	margin-bottom: 40px;
	margin-right: 50px;
	background-color: #F7DEA6;
	border-radius: 0px 120px;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
}


