body {
	margin: 0;
	padding: 0;
}

/* The Front Page */

.front-page {
	background-image: url('./Photos/pink.svg');
	background-size: 33% auto;
	background-repeat: no-repeat;
	background-position-x: right;
	z-index: -999;
	position: relative;
}

.front-page .header {
	max-height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 23px 28px 0 80px;
}

.front-page .header .title {
	font-family: Nunito;
	font-size: 24px;
	font-weight: bold;
	line-height: 33px;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	display: flex;
}

.front-page .header .title::before {
	content: '';
	height: 30px;
	width: 30px;
	background-image: url('./Photos/logo.svg');
	display: block;
	margin-right: 8px;
}

.front-page .header .menu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

nav li {
	list-style: none;
	margin-left: 48px;
	font-family: Nunito;
	font-size: 16px;
	line-height: 22px;
}

nav li button {
	text-transform: uppercase;
	border-radius: 8px;
	height: 40px;
	width: 137px;
	background-color: transparent;
	border: 1px solid black;
}

.first-section .text {
	font-family: Nunito;
	font-size: 36px;
	line-height: 49px;
	max-width: 504px;
	height: 378px;
	display: flex;
	flex-direction: column;
}

.first-section .text button {
	background-color: #daa520;
	border-radius: 4px;
	width: 175px;
	height: 50px;
	border: none;

	font-family: Nunito;
	font-size: 16px;
	color: white;
}

.first-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	height: 90vh;
	margin: auto;
}

.first-section .right {
	position: relative;
}

.first-section .right::before {
	content: '';
	width: 382px;
	height: 382px;
	background-image: url('./Photos/graphic.svg');
	display: block;
	position: absolute;
	z-index: -1;
	top: 200px;
}

.first-section .first {
	height: 98px;
}

.first-section .second {
	font-size: 72px;
	font-weight: 700;
	line-height: 98px;
	height: 196px;
	display: flex;
	align-items: center;
}

/* The About Page */

.about .top {
	width: 1200px;
	margin: auto;
	display: flex;
	margin-top: 120px;
	justify-content: space-between;
}

.about .title::before {
	content: '';
	width: 30px;
	height: 30px;
	background-image: url('./Photos/logo2.svg');
	display: block;
	margin-right: 8px;
}

.about .title::after {
	content: '';
	width: 564px;
	height: 1px;
	background-color: black;
	display: block;
	margin-left: 16px;

}

.about .title {
	font-family: Nunito;
	font-size: 36px;
	font-weight: 700;
	line-height: 49px;
	display: flex;
	align-items: center;
}

.about .about-us {
	font-family: Nunito;
	font-size: 72px;
	font-weight: 700;
	color: #E5E5E5;
	text-transform: uppercase;
}